:root {
  --accent: #4d92f2;

  --card-height: 400px;
  --card-preview-height: 325px;
}

body {
  background: #FFFFFF;
  overflow: hidden;
  font-size: 16px;
  font-family: "Tahoma"
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bar {
  position: fixed;
  height: 80px;
  left: 0px;
  right: 0px;
  top: 0px;

  display: flex;
  align-items: center;

  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
  z-index: 1000;
}

#barRight {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

#dirPathContainer {
  width: fit-content;
}

#settingsDiv {
  display: flex;
  align-items: center;
  margin-right: 20px;
} 

#finalizeModal {
   width: 87%;
   height: 87%;
   border-radius: 8px;
}

#settingsButton {
  width: 2em;
  background-color: white;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

button {
  background-color: var(--accent);
  border-radius: 6px;
  border: none;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  color: white;
  height: 44px;
  font-size: inherit;
  font-weight: bold;
  width: auto;
  padding: 0 25px;
}

#backButtonContainer {
  width: fit-content;
  position: relative;
  left: 21px;
}

#backButton {
  width: 190px;
}

#dirPath {
  width: auto;
  position: relative;
  left: 40px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #595959;

  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

#file-card, #empty-queue {
  width: 440px;
  height: var(--card-height);
  margin: 20px auto 0 auto;
}

#file-card {
  box-sizing: border-box;

  border: 2px solid #E2E2E2;
  border-radius: 12px;
  overflow: hidden;
}

#file-card * {
  pointer-events: none;
}

#card-bar {
  position: relative;
  align-items: center;
  top: 0;
  height: calc(var(--card-height) - var(--card-preview-height));
}

#card-bar p {
  margin-top: 23px;
  margin-bottom: 0;
  margin-left: 20px;
  font-weight: bold;
  color: #595959;
  float: left;
  overflow: hidden;
}

p:has(#basename), #basename {
  text-wrap: nowrap;
  max-width: 250px;
  text-overflow: ellipsis;
}

#card-bar p:last-child {
  float: right;
  margin-right: 20px;
  font-weight: normal;
}

#kod-btns-container {
  position: absolute;
  width: 298px;
  height: 152px;
  left: calc(50% - 298px/2);
  bottom: 58px;
}

#keepButton {
  position: absolute;
  width: 152px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

img.btn { /* Keep or Delete buttons */
  pointer-events: none;
  user-select: none;
}

#finalPageButton {
  position: absolute;
  width: 205px;
  height: 44px;
  right: 21px;
  bottom: 24px;
}

/* Previews */

#previewContainer {
  user-select: none;

  height: var(--card-preview-height);

  background-color: #f5f5f5;
  font-size: 1rem;

  overflow: hidden;
  width: 500px;
  height: 300px;
  margin: 20px auto;
  /* Centers horizontally */
  display: block;
  /* Ensures block-level behavior */
  position: relative;
}

#previewContainer > div {
  width: inherit;
  height: inherit;
}

.txtPreview {
  overflow: auto;
  height: inherit;
  border: 2px solid #bbbbbb;
  background-color: #e5e5e5;
  font-family: monospace;
  border-radius: 10px;
  text-align: left;
  user-select: none;
}

.pdfPreview iframe {
  pointer-events: none;
}

.txtPreview * {
  margin: 8px;
}

.pdfPreview iframe {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.imgPreview img {
  /* Display image at max allowable size inside container. */
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  object-fit: contain; /* Maintain aspect ratio. */
  pointer-events: none /* Dragging images conflicts with swiping. */
}

.videoPreview video {
  width: auto !important; /* Match width of controls with width of video. */
  height: 100%;
  max-width: 100%; /* Remain within bounds of the preview container. */
  background-color: black;
}

.unsupportedPreview {
  text-align: center;
  color: #777777;
  height: 100%;
  margin: auto;
}

.docxPreview {
  overflow: scroll;
  background-color: white;
  text-align: left;
}

.videoPreview,
.videoPreview video {
  /* Match width of controls with width of video. */
  width: auto !important;
  /* Remain within bounds of the preview container. */
  max-width: 100%;
  pointer-events: none;
}

.final-page {
  display: flex;
  align-items: center;
}

.unsupportedPreview p {
  margin: 0 auto;
}

.file-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  height: auto;
}

.btnPadding {
   width: 50px;
}

#finalizeModalButtons * {
   display: inline-block !important;
}

.kept-files,
.deleted-files {
  flex: 1;
  padding: 10px;
  max-height: 70vh;
  overflow: auto;
  box-sizing: border-box;
}

.final-page .rename-input {
  border: none;
  background: transparent;
  font-size: 1rem;
  text-align: left;
  width: 100%;
  outline: none;
}

.final-page .rename-input:hover {
  background: #f0f0f0;
  cursor: text;
}

/* Two-column layout for kept and deleted files */
.file-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: auto;
}

/* Kept files (left side) */
.kept-files {
  flex: 1;
  text-align: left;
  max-width: 45%;
}

/* Deleted files (right side) */
.deleted-files {
  flex: 1;
  text-align: left;
  max-width: 45%;
}

/* Remove bullet points */
#keptFilesList,
#finalizedDeletedFilesList,
#deletedFilesList {
  list-style-type: none;
  padding: 0;
}

/* Rename input styling */
.rename-input {
  border: 1px solid transparent;
  /* Initially transparent */
  background: #fafafa;
  font-size: 1rem;
  text-align: left;
  width: 100%;
  outline: none;
  padding: 5px;
  margin-bottom: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.rename-input:hover {
  background: #f0f0f0;
  border-color: #ccc;
  cursor: text;
}

/* When focused (clicked), emphasize it */
.rename-input:focus {
  background: white;
  border: 1px solid #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

/* Button Styling */
#finalizeButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#finalizeButton:hover {
  background-color: #0056b3;
}

.swipeIcon {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 10rem;
 opacity: 0;
 transition: opacity 0.25s ease-out;
}

.swipeIcon.show {
 opacity: 1;
}

#tooltip {
 pointer-events: none;
 position: fixed;
 top: 35%;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: 999;
 background: rgba(0, 0, 0, 0.65);
 backdrop-filter: blur(2px);
 color: white;
 padding: 20px 35px;
 border-radius: 15px;
 font-size: 20px;
 font-weight: bold;
 text-align: center;
 opacity: 0;
 transition: opacity 0.8s ease-in-out, transform 0.3s ease-in-out;
}

#tooltip.show {
 opacity: 1;
}

#tooltip.hide {
 opacity: 0;
 transform: translate(-50%, -50%) scale(0.9);
}


@keyframes wiggle {

  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  25% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(5deg);
  }

  75% {
    transform: translate(-50%, -50%) rotate(-3deg);
  }
}

.wiggle {
  animation: wiggle 0.5s ease-in-out;
}

.trash-container {
  flex: 1;
  /* css for nothing getting cut off in trash container*/
  overflow-y: auto;
  max-height: calc(100% - 40px);
  padding-bottom: 10px;
}

.file-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#renameModal {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes inputGlow {
  0% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
  }

  50% {
    box-shadow: 0 0 15px rgba(0, 255, 0, 1);
  }

  100% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
  }
}

.glowing {
  animation: inputGlow 0.5s ease-out;
}

#progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 20px; /* Adjust height as needed */
  background-color: #ddd;
  animation: inputGlow 0.5s ease-out;
  z-index: 100; /* Ensure it's above other elements */
}


#progress {
  width: 0%;
  height: 100%;
  background-color: #08c27bfc;
  transition: width 0.5s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  position: relative;
}

@keyframes celebrate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.complete {
  animation: celebrate 1s ease-out;
}

#welcomeScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* Hide body only for keep_or_delete.html */
body.keep-or-delete {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* Show content when JS is ready */
body.keep-or-delete.show {
  visibility: visible;
  opacity: 1;
}

.sort-container {
  display: flex;
  justify-content: center;
  margin: 10px 50px 5px 0;
  align-items: center;
}

.sort-label {
  margin-right: 10px;
  font-weight: bold;
}

.sort-dropdown {
  padding: 6px 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.sort-dropdown:hover {
  border-color: #007bff;
}

.hidden {
  display: none !important;

}

#trash_button {
  height: 30px;
  width: 40px;
  position: relative;
}

#main-display {
  position: relative;
  padding-top: 100px;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}

#trash_div {
  position: absolute;
  top: 90px;
  right: 10px; /* Keep it in the top-right of #main-display */
  width: 40px;
  height: 30px;
  z-index: 10; /* Ensure it's above other elements */
}

#trash_dialog {
  position: fixed;
  top: 0px;
  bottom: auto;
  left: auto;
  right: 20px;
  z-index: 1000;
  width: 300px;
  height: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
}







.file-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: auto;
}

/* Kept files (left side) */
.kept-files {
  flex: 1;
  text-align: left;
  max-width: 45%;
}

/* Deleted files (right side) */
.deleted-files {
  flex: 1;
  text-align: left;
  max-width: 45%;
}

/* Remove bullet points */
#keptFilesList,
#deletedFilesList {
  list-style-type: none;
  padding: 0;
}

#display-buttons {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically (if needed) */
  gap: 10px; /* Adds spacing between buttons */
  width: 100%; /* Ensures full width of container */
}
